body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .password_change-container {
    background-color: #cccccc;
    padding: 20px;
    border-radius: 10px;
  }
  
  .password_change-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
  }
  
  .password_change-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .password_change-form label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-align: left;
    margin-left: 210px;
  }
  
  .password_change-form input {
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password_change-form a {
    text-align: center;
    color: blue;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .password_change-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    align-self: center;
    width: auto;
  }
  